div {text-align: center;}


.hv1 {

    background-color: rgb(226, 163, 26) ;
border: 1px solid black;
border-radius: 25px;
margin-right: 25%;
margin-left: 25%;

}

.pv1 {

background-color: rgb(200, 255, 0);
border: 1px solid black;
border-radius: 20px;
margin-left: 15%;
margin-right: 15%;
}