.Hello{

background-color: aqua; /* trocar cor do fundo do texto para ciano*/

border: 1px solid black; /* bordar do titulo*/
border-radius: 15px;  

text-align: center;

margin-left: 15%;
margin-right: 15%;


}